@model List<ViewProjectViewModel>

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#projectList').DataTable();
        });
    </script>
}

@{
    ViewBag.Title = "View";
}


<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <h2 style="margin-left: 400px;">Projects</h2>
            <div class="col-lg-12">
                <table class="table" id="projectList">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Members</th>
                            <th>Tickets</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Members)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tickets)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>