@model List<ViewTicketViewModel>

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ticketList').DataTable();
        });
    </script>
}

@{
    ViewBag.Title = "View";
}


<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <h2 style="margin-left: 400px;">Tickets</h2>
            <div class="col-lg-12">
                @if (User.IsInRole("Submitter"))
                {
                    <p> @Html.ActionLink("Create New", "Create").</p>
                }

                <table class="table" id="ticketList">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Title</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Creator</th>
                            <th>Assigned Developer</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelTitle => item.ProjectName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelTitle => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateUpdated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatusName)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriorityName)
                                </td>
                                <td>
                                    @User.Identity.Name
                                </td>
                                <td></td>

                                @if (User.IsInRole("Submitter") || User.IsInRole("Developers") || User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    <td>
                                        @Html.ActionLink("EditTicket", "Edit", new { id = item.Id })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Assign", "AssignTicket", new { id = item.Id })
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </section>
</section>